<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
</head>

<body>
    {{>navbar}}

    <!-- main header      -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img src="images/about.jpg" alt="SP" class="img-fluid" title="shubham tech">
                        </figure>
                    </div>
                   
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to weather app</p>
                        <h1>I Am A <span class="text_clr"> MERN STACK DEVELOPER </span>, Coder And A Singer</h1>
                       
                    </div>
                    
                    
                </div>
            </div>
        </div>
    </div>

    <!-- footer code  -->
    {{>footer}}

</body>

</html>